<div class="jumbotron container">
  <div class="post-body"></div>
  <h5 class="post-title">
    <strong>{{post.nomePessoa}}</strong>
  </h5>
  <p class="post-text">
    {{post.texto}}
  </p>
  <button type="submit" class="like btn btn-default" aria-label="Left Align" (click)="eventoCurtir() ">
    <span class="glyphicon glyphicon-heart">  {{ post.qtdLikes }}</span>
  </button>
  <button [routerLink]="['/editar',post.id]" type="submit" class="edit btn btn-default">
    <span class="glyphicon glyphicon-pencil warning" aria-hidden="true"></span>
</button>
  <button type="submit" class="remove btn btn-default" aria-label="Right Align" (click)="eventoRemover()">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>

